.action__container {
  box-sizing: border-box;
  min-width: 320px;
  min-height: 287px;
  margin: 0 auto;
  padding: 40px 20px 49px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 61px 0 58px;
  }

  @media (min-width: @desktop-width) {
    padding: 61px 0 67px;
  }
}

.action__title {
  .title-21 ();
  margin: 0 0 21px;

  @media (min-width: @tablet-width) {
    .title-30 ();
    margin: 0 0 32px;
  }
}

.action__text {
  box-sizing: border-box;
  .text-14 ();
  margin: 0 auto 32px;
  min-height: 63px;

  @media (min-width: @tablet-width) {
    width: 435px;
    margin: 0 auto 19px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto 22px;
  }
}

.action__button {
  margin: 0 auto;
}
