.advantages__container {
  box-sizing: border-box;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 32px 20px;

  @media (min-width: @tablet-width) {
    padding: 47px 0 55px;
  }
}

.advantages__title {
  .title-18 ();
  margin: 0 auto;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    width: 560px;
    .title-21 ();
  }
}

.advantages__text {
  .text-14 ();
  margin: 0;
}

.advantages__list {
  margin: 0 auto;
  padding: 0;
}
