.advantages__container {
  width: 284px;
  margin: 0 auto;
  padding: 32px 0;
}

.advantages__title {
  .title-18 ();
  padding-bottom: 35px;
}

.advantages__text {
  .text-14 ();
}

.advantages__list {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}
