.checkbox {
  padding-left: 0;
  display: grid;
  width: auto;
  grid-template-columns: 46px auto;
  column-gap: 16px;
  align-items: flex-start;
  cursor: pointer;

  &:hover .checkbox__box {
    background-color: #e5e5e5;
  }

  &:active .checkbox__box {
    background-blend-mode: overlay;
    outline: none;
  }
}

.checkbox__box {
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
  }
}

.checkbox__input[type="checkbox"]:checked + .checkbox__box {
  background-image: url("../../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-blend-mode: overlay;
    outline: none;
  }

  &:disabled {
    background-color: #e5e5e5;
    background-blend-mode: overlay;
    outline: none;
    cursor: not-allowed;
  }
}

.checkbox__input:focus-visible + .checkbox__box {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 4px #e5e5e5;
}

.checkbox__text {
  margin-top: 10px;
  text-align: start;
  overflow-wrap: break-word;
  grid-column: 2/-1;


  @media (min-width: @tablet-width) {
    max-width: 170px;
  }

  @media (min-width: @desktop-width) {
    min-width: fit-content;
    margin-top: 12px;
  }
}
