.form {
  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    min-width: 648px;
    max-width: 960px;
    width: calc(100% - 120px);
    padding: 52px 0 64px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 48px;
    align-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}

.form__button-container {
  box-sizing: border-box;
  width: 100%;
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px 24px;

  @media (min-width: @tablet-width) {
    width: 648px;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0;
    align-items: center;
  }
}

.form__button {
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.form__remark {
  display: block;
  .text-14 ();
  font-size: 12px;
  color: #33333360;
  width: fit-content;
  margin-left: auto;
}
