.intro__container {
  width: 320px;
  margin: 0 auto 37px;
  padding: 52px 0 67px;
  background-image: url("../../img/index-background-desktop@1x.jpg");
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}

.intro__logo {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.intro__title {
  .title-18 ();
  width: 284px;
  margin: 0 auto 26px;
}

.intro__text {
  .text-14 ();
  width: 284px;
  margin: 0 auto 50px;
}
