.invitation__container {
  width: 280px;
  margin: 0 auto;
  padding: 17px 0 0;
}

.invitation__title {
  .title-18 ();
  margin-bottom: 21px;
}

.invitation__text {
  .text-14 ();
  margin-bottom: 38px;
}

.invitation__video {
  display: block;
}
