.service {
  list-style: none;
  margin: 0;
  padding: 23px 18px 46px;
  display: grid;
  row-gap: 25px;
  background-color: #ffffff;
}

.service__title {
  .title-18 ();
  text-align: left;
  margin-bottom: 16px;
}

.service__text {
  .text-14 ();
  text-align: left;
  padding-left: 47px;
}
