.textarea {
  box-sizing: border-box;
  .title-18 ();
  text-align: left;
  text-transform: none;
  width: 280px;
  min-height: 150px;
  border: none;
  padding: 16px;
  color: #00000030;
  background-color: #f2f2f2;
}
